/* line 1, ../scss/styles.scss */
body {
  background: #2d2d2d;
  margin: 20px 0;
  font-size: 9px;
  font-family: Helvetica, sans-serif;
  line-height: 1;
}

/* line 9, ../scss/styles.scss */
.handset {
  width: 300px;
  height: 634px;
  margin: 0 auto;
  background: url(../img/handset.jpg);
  overflow: hidden;
}

/* line 17, ../scss/styles.scss */
ul {
  width: 300px;
  list-style: none;
  padding: 0 22px 0 26px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

/* line 27, ../scss/styles.scss */
.screens li, .dock li {
  float: left;
  width: 48px;
  padding: 9px 0 0 12px;
  color: #fff;
  text-align: center;
}
/* line 33, ../scss/styles.scss */
.screens li img, .dock li img {
  display: block;
  padding-bottom: 3px;
}

/* line 39, ../scss/styles.scss */
.screens {
  width: 900px;
}
/* line 41, ../scss/styles.scss */
.screens ul {
  float: left;
  padding-top: 103px;
}

/* line 47, ../scss/styles.scss */
.dock {
  clear: both;
}
/* line 49, ../scss/styles.scss */
.dock li {
  padding-top: 15px;
}

/* line 54, ../scss/styles.scss */
.indicators {
  text-align: center;
  clear: both;
  padding-top: 5px;
}
/* line 58, ../scss/styles.scss */
.indicators li {
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: 0.6;
}
/* line 67, ../scss/styles.scss */
.indicators .active {
  opacity: 1;
}
